{% extends 'films/base_films.html' %}

{% block title %}
    PRIVACY POLICY
{% endblock %}

{% block content %}

		<div class="title">
			<h2>PRIVACY POLICY</h2>
		</div>


		<span>
		We respect your privacy! We never log any information about our visitors:
			Ip adress, visit history, provider or any other personal information.
			We always encrypt the connection and requests sent to our server so
			that it’s not possible to track back what you are watching on our site.
			</br></br>
		</span>
{% endblock %}