{% extends 'films/base_films.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}


<div class="title">
    <h2>{{ title }}</h2>
</div>

{% if page_object %}
<ul class="thumbs thumbs2">
    {% for movi in page_object.object_list %}
        <li><a href="{{ movi.get_absolute_url }}"
           title="{{ movi.title|title }}"><em>hdrip</em>
            <span>{{ movi.title|title }}</span>
            <img src="{{ movi.image.url }}" alt="{{ movi.title }}"/></a>
        </li>
    {% endfor %}
</ul>
{% else %}

    <h2>Sorry, no results were found for your request.</h2>

{% endif %}
{% if is_paginated %}
            <div class="pagination">
                <ul>
                    <li class="prev{% if not prev_url %} disabled {% endif %}">
                        <a  href="{{ prev_url }}&search={{ query }}">prev
                        </a>
                    </li>

                    {% for n in page_object.paginator.page_range %}
                        {% if page_object.number == n %}
                            <li class="active"><a href="?page={{ n }}">{{ n }}</a></li>
                        {% elif n > page_object.number|add:'-3' and n < page_object.number|add:'3' %}
                            <li><a href="?page={{ n }}&search={{ query }}">{{ n }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_object.number|add:'4' in page_object.paginator.page_range %}
                        <li class="disabled"><a href="#">...</a></li>
                    {% endif %}

                    <li class="next{% if not next_url %} disabled {% endif %}">
                        <a href="{{ next_url }}&search={{ query }}">
                            next
                        </a>
                    </li>
                </ul>
            </div>
{% endif %}

{% endblock %}